<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.misles.dynamiclaunchericon">

    <application
            android:allowBackup="true"
            android:icon="@drawable/one"
            android:label="@string/app_name"
            android:roundIcon="@drawable/one"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".MainActivity"
                android:label="Dynamic Launcher Icon Chooser"
                android:theme="@style/AppTheme.NoActionBar"/>
        <activity-alias
                android:name="OneLauncherAlias"
                android:enabled="true"
                android:icon="@drawable/one"
                android:label="One"
                android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>

        <activity-alias
                android:name="TwoLauncherAlias"
                android:enabled="false"
                android:label="Two"
                android:icon="@drawable/two"
                android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>

        <activity-alias
                android:name="ThreeLauncherAlias"
                android:enabled="false"
                android:label="Three"
                android:icon="@drawable/three"
                android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>


    </application>

</manifest>